@font-face {
  font-family: 'Pragmatica regular';
  src: url('../fonts/ok-pragmatica-regular.woff2') format('woff2'), url('../fonts/ok-pragmatica-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Pragmatica bold';
  src: url('../fonts/ok-pragmatica-bold.woff2') format('woff2'), url('../fonts/ok-pragmatica-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

// ПРОБНЫЕ

@font-face {
  font-family: 'serif';
  src: url('../fonts/OfficinaSerifBoldITC-Italic.woff2') format('woff2'), url('../fonts/OfficinaSerifBoldITC-Italic.woff') format('woff');
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}
